# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/
env/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Local datasets
*.xlsx
*.xls
*.csv

# Environment and credentials
.env
*.env
